*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
.heading{
    padding: 2rem;
    height: 10rem;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    line-height: 10rem;
    background: #081b31;
    font-family: sans-serif;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 8rem;
}
.choice
{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    height: 225px;
    width: 225px;
    border-radius: 50%;
    object-fit: cover;
}
.choice:hover{
    /* background-color: #081b31; */
    cursor: pointer;
}
img:hover{
    background: rgb(235, 81, 106);
    box-shadow: 0 0 100px rgb(255, 151, 168);
    opacity: 0.7;
}
.para{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#user-score , #comp-score{
    font-size: 5rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.text{
    font-size:3rem;
}